<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Add your stylesheets here -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Include any additional meta tags, stylesheets, or scripts as needed -->

</head>
<body>

  {{partials/navigation}}
  {{{body}}} <!-- This will render the content of each page -->

  <!-- Include the idle timer JavaScript file -->
  <script src="../../public/js/main.js"></script>

  <!-- Include any other scripts, such as jQuery or additional custom scripts -->

  <!-- Add your site footer, scripts, or any other common elements here -->

</body>
</html>